<% javascript('datatables-init') %>

<h2>Total Pois: <%= @pois_total %></h2>

<h2>Poi Count</h2>
<table class="datatable">
  <thead>
  <tr>
    <td>Country</td>
    <td>Total</td>
  </tr>
  </thead>
  <tbody>
  <% @poi_total_stats.each do |stat| %>
    <tr>
      <td><%= stat.country_name %></td>
      <td><%= stat.total %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<h2>Poi Count per country and category</h2>
<table class="datatable">
  <thead>
  <tr>
    <td>Country</td>
    <td>Category</td>
    <td>Total</td>
  </tr>
  </thead>
  <tbody>
  <% @poi_type_stats.each do |stat| %>
    <tr>
      <td><%= stat.country_name %></td>
      <td><%= stat.poi_type_name %></td>
      <td><%= stat.total %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Pois with Pictures</h2>
<table class="datatable">
  <thead>
  <tr>
    <td>Country</td>
    <td>Total</td>
  </tr>
  </thead>
  <tbody>
  <% @picture_statistics.each do |stat| %>
    <tr>
      <td><%= stat.country_name %></td>
      <td><%= stat.total_pictures %></td>
    </tr>
  <% end %>
  </tbody>
</table>