<% stylesheet('formtastic') %>
<% stylesheet('formtastic_changes') %>

<div class="boxed">

  <%= semantic_form_for(@user, :url => partner_registration_path(@user)) do |f| %>
    <h4>Partner Sign Up</h4>

    <%= f.inputs do %>

      <%= f.input :email %>

      <%= f.input :password %>

      <%= f.input :password_confirmation, :label => "Password Confirmation" %>

      <%= f.input :first_name, :label => "First Name" %>

      <%= f.input :last_name, :label => "Last Name" %>

      <%= f.input :mobile_no, :label => "Mobile" %>

      <%= f.input :tel_no, :label => "Tel" %>

      <%= f.input :tel_no, :label => "Fax" %>

      <%= f.input :address %>

      <%= f.input :country_id,
                  :as => :select,
                  :collection => Country.alphabetically,
                  :include_blank => false %>

      <%= f.input :role, :as => :hidden %>

    <% end %>

    <%= render :partial => 'shared/button', :locals => {:f => f, :label => "Sign Up"} %>

  <% end %>
</div>
