<% if user_signed_in? %>
  <div class="boxed" id="sidebar_account">

    <div class="box-header" id="sidebar_account_header">

      <h6 class="align-left">
        <% if admin_group? %>
          Admin
        <% else %>
          Welcome
        <% end %>
      </h6>

    </div>

    <ul id="sidebar_account_links">

      <li><%= link_to "Change Password", edit_password_path(:id => current_user.id) %> </li>
      <li><%= link_to "My Profile", user_path(current_user) %> </li>

      <% if admin_group? %>
        <li><%= link_to "Admin Home", admin_dashboard_path %></li>
        <li><%= link_to "Add Country", new_admin_country_path %></li>
        <li><%= link_to "Add Destination", new_admin_destination_path %></li>
        <li><%= link_to "Add Poi", new_admin_poi_path %></li>
        <li><%= link_to "Add PoiType", new_admin_poi_type_path %></li>
        <li><%= link_to "Add DescriptionType", new_admin_description_type_path %></li>
        <li><%= link_to "Booking Enquiries", admin_bookings_path %></li>
        <li><%= link_to "Feedback", admin_supports_path %></li>
        <li><%= User.all.count %> <%= link_to "Users", admin_users_path %></li>
        <li><%= link_to "Poi Ownerships", admin_poi_ownerships_path %></li>
        <li><%= link_to "APN Devices", admin_devices_path %></li>
        <li>
          <%= link_to "APN Notifications", admin_apn_notifications_path %>
        </li>
      <% end %>

      <% if partner_group? %>
        <li><%= link_to "My Listing", partner_pois_path(:id => current_user.id) %></li>
        <li><%= link_to "Add Poi(Property/Service)", new_admin_poi_path %></li>
      <% end %>

    </ul>

  </div>
<% end %>