<div id="footer">

	<div class="container clearfix">

    <div class="one-third">

      <h4><span>MyTravel</span> Asia</h4>

      <ul id="categories">
        <li><%= link_to "Partner FAQ", "/docs/partner-v1.pdf", {:rel => "nofollow"} %></li>
        <li><%= link_to "Beta Test", beta_testing_path, {:rel => "nofollow"} %></li>
        <li><%= link_to "Privacy Policy", privacy_policy_path, {:rel => "nofollow"} %></li>
        <li><%= link_to "Contact Us", contact_us_path, {:rel => "nofollow"} %></li>
      </ul>

  	</div>

		<div class="one-third">

			<h4><span>MyTravel</span> Mobile</h4>

			<ul id="categories">
				<li><a href="http://itunes.apple.com/ph/app/mytravel-philippines/id376830684?mt=8" target="_blank">MyTravel Philippines</a></li>
				<li><a href="http://itunes.apple.com/ph/app/mytravel-singapore/id440995434?mt=8" target="_blank">MyTravel Singapore</a></li>
				<li><a href="http://itunes.apple.com/ph/app/mytravel-thailand/id442110079?mt=8" target="_blank">MyTravel Thailand</a></li>
				<li><a href="http://itunes.apple.com/ph/app/mytravel-hongkong/id464417423?mt=8" target="_blank">MyTravel Hongkong</a></li>
        <li><a href="http://itunes.apple.com/ph/app/mytravel-indonesia/id491988896?mt=8" target="_blank">MyTravel Indonesia</a></li>
        <li><a href="http://itunes.apple.com/ph/app/mytravel-vietnam/id491990060?mt=8" target="_blank">MyTravel Vietnam</a></li>
        <li><a href="http://itunes.apple.com/ph/app/mytravel-malaysia/id491989019?mt=8" target="_blank">MyTravel Malaysia</a></li>
			</ul>

		</div>

		<div class="one-third last">

			<h4><span>Features</span></h4>

      <ul>
        <li>Most comprehensive mobile travel guide focused on Asia.</li>
        <li>Available as a universal iOS app for iPhone, iPod Touch and iPad.</li>
        <li>Shows your current GPS location and how close the attractions, hotels, tours, around you.</li>
      </ul>

      <strong><a href="#">Find more...</a></strong>

		</div>

		<div class="two-fifth last">



		</div>

	</div>

</div>

<div id="footer-bottom">

	<div class="container">

    <p class="align-left">
      2RMobile Pty Ltd, All Rights Reserved (2010-2012).
      v<%= APP_CONFIG[:version] %>
    </p>

	</div>

</div>